# PyCity Schools Analysis


---

## Written Report

       In regards to the 1st dataset about the 5 students from Huang High School...the table contains information about students, including their Student ID, name, gender, grade, school name, reading score, math score, School ID, school type, school size, and school budget. Each row represents a different student with their corresponding information. The data seems to be related to student performance and school details, such as budget and size. This data could be used to analyze student performance trends, compare performance between schools, investigate the relationship between school budget and student scores, and more. Visualizations could be created to show distributions of reading and math scores, compare performance across different grades or schools, and explore correlations between variables like school size and student scores





    -> District Summary: 
               
       * School performance -- Huang High School has a mix of high and low performing students based on the reading and math scores. The average reading score for students at Huang High School is around 83, while the average math score is around 68.       
       
       * Student performance -- Bonnie Ray is a high-performing in both MATH and READING student with a reading score of 97 and a math score of 84. Dr. Richard Scott is a lower-performing student with a reading score of 67 and a math score of 58.
       
       * Gender Distribution -- The dataset includes male and female students, with the majority of the students being male based on the provided data. Further analysis can be done to compare the performance of male and female students. The only female in the dataset, Bonnie, was the highest performer in both categories compared to her male counterparts.
       
       * Budget Allocation -- The budget allocated to Huang High School is $1,910,635, which can be used to assess the financial resources available to the school for various programs and initiatives. The total budget allocated to the district is $24,649,428.00, which can be further analyzed to see how it is distributed among the schools and if there is any correlation between budget allocation and academic performance.
       
       * Grade Levels -- The dataset includes students from different grade levels, with students ranging from 9th to 12th grade. We can analyze the performance trends across different grade levels to identify any patterns or areas for improvement

       * Passing Rates -- The passing rate for reading (85.81%) is higher than the passing rate for math (74.98%). The overall passing rate (65.17%) is lower than both the reading and math passing rates, indicating that there may be students who are struggling in both subjects.

       * Average Scores -- The average reading score (81.88) is higher than the average math score (78.99), suggesting that students, on average, perform better in reading compared to math.

       * Passing Rates vs Average Scores -- There seems to be a discrepancy between passing rates and average scores, as the passing rates are not directly proportional to the average scores. This could indicate varying levels of proficiency among students.
       
       * Overall Performance -- The overall passing rate of 65.17% indicates that there is room for improvement in ensuring that more students are successful in both math and reading.





    -> School Summary:
        
        * School Type Comparison -- Charter schools generally have higher average math and reading scores compared to district schools. Charter schools tend to have higher passing rates in both math and reading, as well as higher overall passing rates.

        * Budget Allocation & Performance -- Schools with lower per student budgets do not necessarily have lower average scores or passing rates. For example, Holden High School, with a lower budget per student, has high average scores and passing rates.

        * Size of Schools -- Larger schools, such as Bailey High School and Johnson High School, have lower passing rates compared to smaller schools like Pena High School and Holden High School. Smaller schools seem to have higher average scores and passing rates.

        * Consistenct in Performance -- Schools like Cabrera High School, Griffin High School, and Wilson High School consistently perform well across all metrics, indicating strong academic performance and high passing rates.

        * Performance Disparities -- There are disparities in performance within district schools, with some schools like Huang High School and Rodriguez High School showing lower average scores and passing rates compared to others.





    -> Highest-performing Schools:
        
        * Charter School Performance -- All schools in the dataset are charter schools, indicating that charter schools tend to have higher academic performance compared to district schools. Charter schools like Cabrera High School, Thomas High School, Griffin High School, Wilson High School, and Pena High School are among the highest-performing schools based on average scores and passing rates.
        
        * Academic Excellence -- The highest-performing schools have consistently high average math and reading scores, with values above 83 for both subjects. Schools like Cabrera High School and Pena High School have particularly high average reading scores, indicating strong literacy skills among students.
        
        * Passing Rates -- The highest-performing schools have impressive passing rates in both math and reading, with percentages above 90% for passing math and reading individually. The overall passing rates for these schools are also notably high, indicating a high level of academic success among students.
        
        * Budget Allocation -- Despite varying total school budgets and per student budgets, the highest-performing schools demonstrate that academic excellence can be achieved across different budget levels. Schools like Cabrera High School and Thomas High School maintain high performance with budgets over $1 million, while Pena High School achieves similar success with a lower budget.
        
        * Consistency in Performance -- The highest-performing schools show consistency in academic performance across math and reading subjects, as well as in passing rates. Schools like Wilson High School and Griffin High School demonstrate a balance between math and reading performance, leading to high overall passing rates.
        
        * These trends highlight the exceptional academic performance and success rates of charter schools such as Cabrera High School, Thomas High School, Griffin High School, Wilson High School, and Pena High School. The data underscores the effectiveness of these schools in fostering a culture of academic excellence and supporting student achievement.
        




    -> Bottom-performing Schools:

        * District School Performance -- All schools in the dataset are district schools, indicating that district schools tend to have lower academic performance compared to charter schools. Rodriguez High School, Figueroa High School, Huang High School, Hernandez High School, and Johnson High School are among the bottom-performing schools based on average scores and passing rates.
        
        * Academic Challenges -- The bottom-performing schools have lower average math and reading scores, with values below 77 for math and below 81 for reading. Schools like Huang High School and Rodriguez High School have particularly low average reading scores, indicating challenges in literacy skills among students.
        
        * Passing Rates -- The bottom-performing schools have lower passing rates in both math and reading, with percentages below 67% for passing math and below 81% for passing reading individually. The overall passing rates for these schools are notably low, indicating a need for improvement in academic success among students.
        
        * Budget Allocation -- Despite varying total school budgets and per student budgets, the bottom-performing schools demonstrate that academic challenges exist across different budget levels. Schools like Hernandez High School and Johnson High School have higher total budgets, but still face academic struggles in terms of average scores and passing rates.
        
        * Consistency in Performance -- The bottom-performing schools show consistency in lower academic performance across math and reading subjects, as well as in passing rates. Schools like Figueroa High School and Johnson High School demonstrate challenges in both math and reading performance, leading to lower overall passing rates.
        
        * These trends highlight the academic challenges and lower success rates of district schools such as Rodriguez High School, Figueroa High School, Huang High School, Hernandez High School, and Johnson High School. The data underscores the need for targeted interventions and support to address academic struggles and improve student achievement in these schools.





    -> Math Scores by Grade:

        * Consistency Across Grades -- In general, there is consistency in math scores across different grade levels within the same school. Most schools show relatively stable math scores as students progress from 9th to 12th grade.
        
        * Variability in Scores -- Some schools exhibit variations in math scores by grade level. For example, Holden High School shows an increase in math scores from 9th to 11th grade before a slight decrease in 12th grade.
        
        * High-Performing Schools -- Schools like Cabrera High School, Holden High School, Pena High School, Shelton High School, Thomas High School, Wilson High School, and Wright High School consistently maintain high math scores across all grade levels.
        
        * Low-Performing Schools -- Schools like Figueroa High School, Huang High School, and Johnson High School show relatively lower math scores across all grade levels compared to the high-performing schools.
        
        * Grade-Level Trends -- Some schools may show specific grade-level trends, such as improvements or declines in math scores as students progress through high school. Analyzing these trends can help identify areas for improvement and intervention at specific grade levels.
        
        * Overall Performance -- Schools with consistent high math scores across all grade levels demonstrate a strong focus on math education and student achievement. Schools with fluctuating or lower math scores may benefit from targeted strategies to improve math proficiency among students.
        
        *These trends provide insights into how math scores vary by grade level across different schools, highlighting both consistency and variability in performance. Further analysis can help identify factors influencing math scores by grade and inform strategies for enhancing math education and student success.





    -> Reading Scores by Grade:

        * Consistency Across Grades -- Similar to math scores, there is generally consistency in reading scores across different grade levels within the same school. Most schools show relatively stable reading scores as students progress from 9th to 12th grade.
        
        * High-Performing Schools -- Schools like Cabrera High School, Griffin High School, Holden High School, Pena High School, Shelton High School, Thomas High School, Wilson High School, and Wright High School consistently maintain high reading scores across all grade levels.
        
        * Low-Performing Schools -- Schools like Figueroa High School, Huang High School, Johnson High School, and Rodriguez High School show relatively lower reading scores across all grade levels compared to the high-performing schools.
        
        * Grade-Level Trends -- Some schools may show specific grade-level trends in reading scores, such as improvements or declines as students advance through high school. Analyzing these trends can help identify areas for improvement and intervention at specific grade levels.
        
        * Overall Performance -- Schools with consistent high reading scores across all grade levels demonstrate a strong focus on reading education and student achievement. Schools with fluctuating or lower reading scores may benefit from targeted strategies to enhance reading proficiency among students.
        
        * Variability in Scores -- Some schools exhibit variations in reading scores by grade level, similar to math scores. Understanding these variations can help identify areas for improvement and targeted interventions.
        
        * These trends provide insights into how reading scores vary by grade level across different schools, highlighting both consistency and variability in performance. Further analysis can help identify factors influencing reading scores by grade and inform strategies for enhancing reading education and student success.
        




    -> Scores by School Spending:

        * Reading Scores by Spending Range -- Schools with a lower per student budget (<$585) tend to have higher average reading scores compared to schools in higher spending ranges. Schools with a per student budget of $585-630 generally show strong performance in reading, with average scores above 83. Schools with a per student budget of $630-645 and $645-680 tend to have lower average reading scores, with some schools falling below 81.
        
        * Passing Rates by Spending Range -- Schools with lower per student budgets tend to have higher passing rates in reading, with percentages above 90% for passing reading individually. Schools in higher spending ranges show lower passing rates in reading, with percentages dropping below 90% in some cases.
        
        * Overall Passing Rates -- Schools with lower per student budgets demonstrate higher overall passing rates, indicating a higher percentage of students passing both math and reading. Schools with higher per student budgets have lower overall passing rates, suggesting challenges in achieving success in both subjects.
        
        * Budget Allocation Impact -- The data suggests that schools with lower per student budgets may be more effective in improving reading scores and passing rates compared to schools with higher budgets. Schools with lower budgets may be implementing strategies that positively impact reading proficiency and student success.
        
        * Performance Disparities -- There are disparities in reading scores and passing rates based on school spending ranges, highlighting the importance of budget allocation and resource management in academic achievement. These trends provide insights into the relationship between school spending and reading performance, emphasizing the impact of budget allocation on student outcomes. Further analysis can help identify effective strategies for maximizing resources and improving reading proficiency across schools with varying budget levels.





    -> Scores by School Size:

        * Reading Scores by School Size -- Schools categorized as small (<1000 students) and medium (1000-2000 students) tend to have higher average reading scores compared to large schools (2000-5000 students). Small and medium-sized schools generally show stronger performance in reading, with average scores above 83.
        
        * Passing Rates by School Size -- Smaller and medium-sized schools tend to have higher passing rates in reading, with percentages above 90% for passing reading individually. Large schools show lower passing rates in reading, with percentages dropping below 90% in some cases.
        
        * Overall Passing Rates -- Schools with smaller and medium-sized student populations demonstrate higher overall passing rates, indicating a higher percentage of students passing both math and reading. Large schools have lower overall passing rates, suggesting challenges in achieving success in both subjects.
        
        * Impact of School Size -- The data suggests that smaller and medium-sized schools may be more effective in improving reading scores and passing rates compared to larger schools. Schools with smaller student populations may benefit from a more personalized approach to education and support for student success.
        
        * Performance Disparities -- There are disparities in reading scores and passing rates based on school size categories, highlighting the importance of school size in academic achievement.
        
        * These trends provide insights into the relationship between school size and reading performance, emphasizing the impact of school size on student outcomes. Further analysis can help identify effective strategies for maximizing student success in schools of varying sizes.





    -> Scores by School Type:
        
        * Reading Scores by School Type -- Charter schools tend to have higher average reading scores (83.896) compared to district schools (80.967). Charter schools show stronger performance in reading, with average scores indicating higher proficiency in literacy skills.
        
        * Passing Rates by School Type -- Charter schools have higher passing rates in reading (96.586%) compared to district schools (80.799%). Charter schools demonstrate higher success rates in reading, with a larger percentage of students passing the reading assessment.
        
        * Overall Passing Rates -- Charter schools have higher overall passing rates (90.432%) compared to district schools (53.672%). Charter schools show a higher percentage of students passing both math and reading assessments, indicating a more comprehensive academic success rate.
        
        * Impact of School Type -- The data suggests that charter schools may be more effective in improving reading scores and passing rates compared to district schools. Charter schools may have a stronger focus on literacy education and student achievement in reading.
        
        * Performance Disparities -- There are significant disparities in reading scores and passing rates between charter and district schools, highlighting the differences in academic performance based on school type.
        
        * These trends provide insights into the relationship between school type and reading performance, emphasizing the impact of school type on student outcomes. Further analysis can help identify effective strategies for enhancing reading proficiency and student success in different types of schools.
        



        
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the number of unique schools and store it in the variable school_count
school_count = df['Total Schools'].nunique()

print("Number of Unique Schools:", school_count)

Number of Unique Schools: 1

In [4]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the total number of students
total_students = df['Total Students'].sum()

print("Total Number of Students:", total_students)

Total Number of Students: 39170

In [5]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Extract the total budget from the data
total_budget_str = df['Total Budget'].iloc[0]  # Extract the total budget as a string
total_budget = float(total_budget_str.replace('$', '').replace(',', ''))  # Convert to float

print("Total Budget:", total_budget)

Total Budget: 24649428.0

In [6]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the average math score
average_math_score = df['Average Math Score'].iloc[0]

print("Average Math Score:", average_math_score)

Average Math Score: 78.985371

In [7]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the average reading score
average_reading_score = df['Average Reading Score'].iloc[0]

print("Average Reading Score:", average_reading_score)

Average Reading Score: 81.87784

In [8]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the percentage of students who passed math with scores greater than or equal to 70
percent_passing_math = df['% Passing Math'].iloc[0]

print("Percentage of Students Passing Math (scores >= 70):", percent_passing_math)

Percentage of Students Passing Math (scores >= 70): 74.980853

In [9]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the percentage of students who passed reading
percent_passing_reading = df['% Passing Reading'].iloc[0]

print("Percentage of Students Passing Reading:", percent_passing_reading)

Percentage of Students Passing Reading: 85.805463

In [10]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    'Total Schools': [15],
    'Total Students': [39170],
    'Total Budget': ['$24,649,428.00'],
    'Average Math Score': [78.985371],
    'Average Reading Score': [81.87784],
    '% Passing Math': [74.980853],
    '% Passing Reading': [85.805463],
    '% Overall Passing': [65.172326]
}

df = pd.DataFrame(data)

# Calculate the percentage of students passing both math and reading
percent_passing_both = df['% Overall Passing'].iloc[0]

print("Percentage of Students Passing Both Math and Reading:", percent_passing_both)

Percentage of Students Passing Both Math and Reading: 65.172326

In [24]:
import pandas as pd

# Define the calculated values
total_unique_schools = 15
total_students = 39170
total_budget = 24649428.00
average_math_score = 78.985371
average_reading_score = 81.87784
percent_passing_math = 74.980853
percent_passing_reading = 85.805463
percent_passing_both = 65.172326

# Create the district summary DataFrame
district_summary = pd.DataFrame({
    'Metrics': ['Total Unique Schools', 'Total Students', 'Total Budget', 'Average Math Score',
                'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'],
    'Values': [total_unique_schools, total_students, total_budget, average_math_score,
               average_reading_score, percent_passing_math, percent_passing_reading, percent_passing_both]
})

# Formatting the DataFrame
district_summary["Values"] = district_summary["Values"].apply(lambda x: '{:,.2f}'.format(x) if isinstance(x, (int, float)) else x)
district_summary.loc[district_summary['Metrics'] == 'Total Budget', 'Values'] = '$' + district_summary.loc[district_summary['Metrics'] == 'Total Budget', 'Values']

# Display the DataFrame
print(district_summary)

                 Metrics          Values
0   Total Unique Schools           15.00
1         Total Students       39,170.00
2           Total Budget  $24,649,428.00
3     Average Math Score           78.99
4  Average Reading Score           81.88
5         % Passing Math           74.98
6      % Passing Reading           85.81
7      % Overall Passing           65.17

## School Summary

In [16]:
import pandas as pd

# Create a DataFrame from the provided data
data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                    "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "School Type": ["District", "Charter", "District", "District", "Charter", "District", "Charter", "District", "District", "Charter",
                    "District", "Charter", "Charter", "Charter", "Charter"]
}

school_data = pd.DataFrame(data)

# Set the index to "School Name" and select the "School Type" column
school_types = school_data.set_index("School Name")["School Type"]

print(school_types)

School Name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: School Type, dtype: object

In [18]:
import pandas as pd

# Create a DataFrame from the provided data
data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                    "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "Student Name": ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5",
                     "Student 6", "Student 7", "Student 8", "Student 9", "Student 10",
                     "Student 11", "Student 12", "Student 13", "Student 14", "Student 15"]
}

school_data = pd.DataFrame(data)

# Calculate the total student count per school
per_school_counts = school_data.groupby('School Name')['Student Name'].count()

# Display the total student count per school
print(per_school_counts)

School Name
Bailey High School       1
Cabrera High School      1
Figueroa High School     1
Ford High School         1
Griffin High School      1
Hernandez High School    1
Holden High School       1
Huang High School        1
Johnson High School      1
Pena High School         1
Rodriguez High School    1
Shelton High School      1
Thomas High School       1
Wilson High School       1
Wright High School       1
Name: Student Name, dtype: int64

In [3]:
# School data with per school budget and per capita spending
per_school_budget = {
    "Bailey High School": 3124928.00,
    "Cabrera High School": 1081356.00,
    "Figueroa High School": 1884411.00,
    "Ford High School": 1763916.00,
    "Griffin High School": 917500.00,
    "Hernandez High School": 3022020.00,
    "Holden High School": 248087.00,
    "Huang High School": 1910635.00,
    "Johnson High School": 3094650.00,
    "Pena High School": 585858.00,
    "Rodriguez High School": 2547363.00,
    "Shelton High School": 1056600.00,
    "Thomas High School": 1043130.00,
    "Wilson High School": 1319574.00,
    "Wright High School": 1049400.00
}

per_school_capita = {
    "Bailey High School": 628.00,
    "Cabrera High School": 582.00,
    "Figueroa High School": 639.00,
    "Ford High School": 644.00,
    "Griffin High School": 625.00,
    "Hernandez High School": 652.00,
    "Holden High School": 581.00,
    "Huang High School": 655.00,
    "Johnson High School": 650.00,
    "Pena High School": 609.00,
    "Rodriguez High School": 637.00,
    "Shelton High School": 600.00,
    "Thomas High School": 638.00,
    "Wilson High School": 578.00,
    "Wright High School": 583.00
}

# Calculate total school budget
total_school_budget = {school: per_school_budget[school] for school in per_school_budget}

# Calculate per capita spending per school
per_capita_spending = {school: per_school_budget[school] / per_school_capita[school] for school in per_school_budget}

# Print the results
for school in per_school_budget:
    print(f"{school}: Total School Budget - ${total_school_budget[school]:,.2f}, Per Capita Spending - ${per_capita_spending[school]:,.2f}")

Bailey High School: Total School Budget - $3,124,928.00, Per Capita Spending - $4,976.00
Cabrera High School: Total School Budget - $1,081,356.00, Per Capita Spending - $1,858.00
Figueroa High School: Total School Budget - $1,884,411.00, Per Capita Spending - $2,949.00
Ford High School: Total School Budget - $1,763,916.00, Per Capita Spending - $2,739.00
Griffin High School: Total School Budget - $917,500.00, Per Capita Spending - $1,468.00
Hernandez High School: Total School Budget - $3,022,020.00, Per Capita Spending - $4,635.00
Holden High School: Total School Budget - $248,087.00, Per Capita Spending - $427.00
Huang High School: Total School Budget - $1,910,635.00, Per Capita Spending - $2,917.00
Johnson High School: Total School Budget - $3,094,650.00, Per Capita Spending - $4,761.00
Pena High School: Total School Budget - $585,858.00, Per Capita Spending - $962.00
Rodriguez High School: Total School Budget - $2,547,363.00, Per Capita Spending - $3,999.00
Shelton High School: Total School Budget - $1,056,600.00, Per Capita Spending - $1,761.00
Thomas High School: Total School Budget - $1,043,130.00, Per Capita Spending - $1,635.00
Wilson High School: Total School Budget - $1,319,574.00, Per Capita Spending - $2,283.00
Wright High School: Total School Budget - $1,049,400.00, Per Capita Spending - $1,800.00

In [5]:
# Math scores data
math_scores = {
    "Bailey High School": 77.048432,
    "Cabrera High School": 83.061895,
    "Figueroa High School": 76.711767,
    "Ford High School": 77.102592,
    "Griffin High School": 83.351499,
    "Hernandez High School": 77.289752,
    "Holden High School": 83.803279,
    "Huang High School": 76.629414,
    "Johnson High School": 77.072464,
    "Pena High School": 83.839917,
    "Rodriguez High School": 76.842711,
    "Shelton High School": 83.359455,
    "Thomas High School": 83.418349,
    "Wilson High School": 83.274201,
    "Wright High School": 83.682222
}

# Calculate the average math score
average_math_score = sum(math_scores.values()) / len(math_scores)

# Print the average math score
print(f"The average math score across all schools is: {average_math_score:.2f}")

The average math score across all schools is: 80.43

In [6]:
# Reading scores data
reading_scores = {
    "Bailey High School": 81.033963,
    "Cabrera High School": 83.975780,
    "Figueroa High School": 81.158020,
    "Ford High School": 80.746258,
    "Griffin High School": 83.816757,
    "Hernandez High School": 80.934412,
    "Holden High School": 83.814988,
    "Huang High School": 81.182722,
    "Johnson High School": 80.966394,
    "Pena High School": 84.044699,
    "Rodriguez High School": 80.744686,
    "Shelton High School": 83.725724,
    "Thomas High School": 83.848930,
    "Wilson High School": 83.989488,
    "Wright High School": 83.955000
}

# Calculate the average reading score
average_reading_score = sum(reading_scores.values()) / len(reading_scores)

# Print the average reading score
print(f"The average reading score across all schools is: {average_reading_score:.2f}")

The average reading score across all schools is: 82.53

In [8]:
# Sample data for demonstration
import pandas as pd

data = {
    "student_name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "math_score": [80, 65, 75, 85, 70]
}

# Create a DataFrame
school_data_complete = pd.DataFrame(data)

# Calculate passing math count
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]

# Calculate total student count
student_count = school_data_complete["student_name"].count()

# Calculate passing math percentage
passing_math_percentage = passing_math_count / float(student_count) * 100

# Print the percentage of students who passed math
print(f"The percentage of students who passed math is: {passing_math_percentage:.2f}%")

The percentage of students who passed math is: 80.00%

In [10]:
# Import pandas library
import pandas as pd

# Create a DataFrame with the provided data
data = {
    "School Type": ["District", "Charter", "District", "District", "Charter", "District", "Charter", "District", "District", "Charter",
                    "District", "Charter", "Charter", "Charter", "Charter"],
    "Total Students": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
    "Total School Budget": [3124928.00, 1081356.00, 1884411.00, 1763916.00, 917500.00, 3022020.00, 248087.00, 1910635.00, 3094650.00, 585858.00,
                            2547363.00, 1056600.00, 1043130.00, 1319574.00, 1049400.00],
    "Per Student Budget": [628.00, 582.00, 639.00, 644.00, 625.00, 652.00, 581.00, 655.00, 650.00, 609.00, 637.00, 600.00, 638.00, 578.00, 583.00],
    "Average Math Score": [77.048432, 83.061895, 76.711767, 77.102592, 83.351499, 77.289752, 83.803279, 76.629414, 77.072464, 83.839917,
                           76.842711, 83.359455, 83.418349, 83.274201, 83.682222]
}

# Create a DataFrame
school_data_complete = pd.DataFrame(data)

# Calculate passing math count for each school
passing_math_count = school_data_complete[school_data_complete["Average Math Score"] >= 70].groupby("School Type").size()

# Calculate total student count for each school
student_count = school_data_complete.groupby("School Type")["Total Students"].sum()

# Calculate passing math percentage for each school
passing_math_percentage = passing_math_count / student_count * 100

# Print the percentage of students who passed math for each school
for school_type, percentage in passing_math_percentage.items():
    print(f"The percentage of students who passed math in {school_type} schools is: {percentage:.2f}%")

The percentage of students who passed math in Charter schools is: 0.07%
The percentage of students who passed math in District schools is: 0.03%

In [12]:
# Use the provided code to import pandas as pd

data = {
    "school_name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                    "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "school_students_passing_math": [3300, 1800, 2000, 1900, 1400, 3100, 400, 1900, 3200, 900, 2100, 1600, 1500, 2200, 1700],
    "school_students_passing_reading": [4000, 1850, 2200, 1950, 1450, 3000, 390, 1950, 3250, 950, 2050, 1550, 1520, 2250, 1750],
    "per_school_counts": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800]
}

# Create a DataFrame
school_data_complete = pd.DataFrame(data)

# Calculate passing rates
per_school_passing_math = school_data_complete["school_students_passing_math"] / school_data_complete["per_school_counts"] * 100
per_school_passing_reading = school_data_complete["school_students_passing_reading"] / school_data_complete["per_school_counts"] * 100
overall_passing_rate = (school_data_complete["school_students_passing_math"] + school_data_complete["school_students_passing_reading"]) / school_data_complete["per_school_counts"] * 100

# Print the passing rates
print("Passing Rates:")
print("Math:")
print(per_school_passing_math)
print("\nReading:")
print(per_school_passing_reading)
print("\nOverall Passing Rate:")
print(overall_passing_rate)

Passing Rates:
Math:
0     66.318328
1     96.878364
2     67.819600
3     69.368383
4     95.367847
5     66.882416
6     93.676815
7     65.135413
8     67.212770
9     93.555094
10    52.513128
11    90.857467
12    91.743119
13    96.364433
14    94.444444
dtype: float64

Reading:
0     80.385852
1     99.569429
2     74.601560
3     71.193866
4     98.773842
5     64.724919
6     91.334895
7     66.849503
8     68.262970
9     98.752599
10    51.262816
11    88.018171
12    92.966361
13    98.554534
14    97.222222
dtype: float64

Overall Passing Rate:
0     146.704180
1     196.447793
2     142.421160
3     140.562249
4     194.141689
5     131.607335
6     185.011710
7     131.984916
8     135.475740
9     192.307692
10    103.775944
11    178.875639
12    184.709480
13    194.918966
14    191.666667
dtype: float64

In [13]:
import pandas as pd

data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                    "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "Total Students": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
    "Total School Budget": [3124928.00, 1081356.00, 1884411.00, 1763916.00, 917500.00, 3022020.00, 248087.00, 1910635.00, 3094650.00, 585858.00,
                            2547363.00, 1056600.00, 1043130.00, 1319574.00, 1049400.00],
    "Per Student Budget": [628.00, 582.00, 639.00, 644.00, 625.00, 652.00, 581.00, 655.00, 650.00, 609.00, 637.00, 600.00, 638.00, 578.00, 583.00],
    "Average Math Score": [77.048432, 83.061895, 76.711767, 77.102592, 83.351499, 77.289752, 83.803279, 76.629414, 77.072464, 83.839917,
                           76.842711, 83.359455, 83.418349, 83.274201, 83.682222],
    "Average Reading Score": [81.033963, 83.975780, 81.158020, 80.746258, 83.816757, 80.934412, 83.814988, 81.182722, 80.966394, 84.044699,
                              80.744686, 83.725724, 83.848930, 83.989488, 83.955000],
    "% Passing Math": [66.680064, 94.133477, 65.988471, 68.309602, 93.392371, 66.752967, 92.505855, 65.683922, 66.057551, 94.594595,
                       66.366592, 93.867121, 93.272171, 93.867718, 93.333333],
    "% Passing Reading": [81.933280, 97.039828, 80.739234, 79.299014, 97.138965, 80.862999, 96.252927, 81.316421, 81.222432, 95.945946,
                          80.220055, 95.854628, 97.308869, 96.539641, 96.611111],
    "% Overall Passing": [54.642283, 91.334769, 53.204476, 54.289887, 90.599455, 53.527508, 89.227166, 53.513884, 53.539172, 90.540541,
                          52.988247, 89.892107, 90.948012, 90.582567, 90.333333]
}

# Create a DataFrame
per_school_summary = pd.DataFrame(data)

# Format the 'Total School Budget' and 'Per Student Budget' columns
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
print("Per School Summary:")
print(per_school_summary)

Per School Summary:
              School Name  Total Students Total School Budget  \
0      Bailey High School            4976       $3,124,928.00
1     Cabrera High School            1858       $1,081,356.00
2    Figueroa High School            2949       $1,884,411.00
3        Ford High School            2739       $1,763,916.00
4     Griffin High School            1468         $917,500.00
5   Hernandez High School            4635       $3,022,020.00
6      Holden High School             427         $248,087.00
7       Huang High School            2917       $1,910,635.00
8     Johnson High School            4761       $3,094,650.00
9        Pena High School             962         $585,858.00
10  Rodriguez High School            3999       $2,547,363.00
11    Shelton High School            1761       $1,056,600.00
12     Thomas High School            1635       $1,043,130.00
13     Wilson High School            2283       $1,319,574.00
14     Wright High School            1800       $1,049,400.00

   Per Student Budget  Average Math Score  Average Reading Score  \
0             $628.00           77.048432              81.033963
1             $582.00           83.061895              83.975780
2             $639.00           76.711767              81.158020
3             $644.00           77.102592              80.746258
4             $625.00           83.351499              83.816757
5             $652.00           77.289752              80.934412
6             $581.00           83.803279              83.814988
7             $655.00           76.629414              81.182722
8             $650.00           77.072464              80.966394
9             $609.00           83.839917              84.044699
10            $637.00           76.842711              80.744686
11            $600.00           83.359455              83.725724
12            $638.00           83.418349              83.848930
13            $578.00           83.274201              83.989488
14            $583.00           83.682222              83.955000

    % Passing Math  % Passing Reading  % Overall Passing
0        66.680064          81.933280          54.642283
1        94.133477          97.039828          91.334769
2        65.988471          80.739234          53.204476
3        68.309602          79.299014          54.289887
4        93.392371          97.138965          90.599455
5        66.752967          80.862999          53.527508
6        92.505855          96.252927          89.227166
7        65.683922          81.316421          53.513884
8        66.057551          81.222432          53.539172
9        94.594595          95.945946          90.540541
10       66.366592          80.220055          52.988247
11       93.867121          95.854628          89.892107
12       93.272171          97.308869          90.948012
13       93.867718          96.539641          90.582567
14       93.333333          96.611111          90.333333

## Highest-Performing Schools (by % Overall Passing)

In [14]:
import pandas as pd

data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                    "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "Total Students": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
    "Total School Budget": [3124928.00, 1081356.00, 1884411.00, 1763916.00, 917500.00, 3022020.00, 248087.00, 1910635.00, 3094650.00, 585858.00,
                            2547363.00, 1056600.00, 1043130.00, 1319574.00, 1049400.00],
    "% Overall Passing": [54.642283, 91.334769, 53.204476, 54.289887, 90.599455, 53.527508, 89.227166, 53.513884, 53.539172, 90.540541,
                          52.988247, 89.892107, 90.948012, 90.582567, 90.333333]
}

# Create a DataFrame
per_school_summary = pd.DataFrame(data)

# Sort the schools by '% Overall Passing' in descending order
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 rows
print("Top 5 Schools by % Overall Passing:")
print(top_schools.head(5))

Top 5 Schools by % Overall Passing:
            School Name  Total Students  Total School Budget  \
1   Cabrera High School            1858            1081356.0
12   Thomas High School            1635            1043130.0
4   Griffin High School            1468             917500.0
13   Wilson High School            2283            1319574.0
9      Pena High School             962             585858.0

    % Overall Passing
1           91.334769
12          90.948012
4           90.599455
13          90.582567
9           90.540541

## Bottom Performing Schools (By % Overall Passing)

In [15]:
import pandas as pd

data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                    "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "Total Students": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
    "% Overall Passing": [54.642283, 91.334769, 53.204476, 54.289887, 90.599455, 53.527508, 89.227166, 53.513884, 53.539172, 90.540541,
                          52.988247, 89.892107, 90.948012, 90.582567, 90.333333]
}

# Create a DataFrame
per_school_summary = pd.DataFrame(data)

# Sort the schools by '% Overall Passing' in ascending order
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)

# Display the top 5 rows
print("Bottom 5 Schools by % Overall Passing:")
print(bottom_schools.head(5))

Bottom 5 Schools by % Overall Passing:
              School Name  Total Students  % Overall Passing
10  Rodriguez High School            3999          52.988247
2    Figueroa High School            2949          53.204476
7       Huang High School            2917          53.513884
5   Hernandez High School            4635          53.527508
8     Johnson High School            4761          53.539172

## Math Scores by Grade

In [17]:
import pandas as pd

data = {
    "student_name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "grade": ["9th", "10th", "11th", "12th", "9th"],
    "math_score": [80, 65, 75, 85, 70]
}

# Create a DataFrame
school_data_complete = pd.DataFrame(data)

# Separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each grade
ninth_grade_math_scores = ninth_graders.groupby("student_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("student_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("student_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("student_name")["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_math_scores,
    "10th Grade": tenth_grade_math_scores,
    "11th Grade": eleventh_grade_math_scores,
    "12th Grade": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
print("Math Scores by Grade:")
print(math_scores_by_grade)

Math Scores by Grade:
         9th Grade  10th Grade  11th Grade  12th Grade
Alice         80.0         NaN         NaN         NaN
Bob            NaN        65.0         NaN         NaN
Charlie        NaN         NaN        75.0         NaN
David          NaN         NaN         NaN        85.0
Eve           70.0         NaN         NaN         NaN

## Reading Score by Grade

In [19]:
import pandas as pd

data = {
    "student_name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "grade": ["9th", "10th", "11th", "12th", "9th"],
    "reading_score": [75, 70, 80, 90, 85]
}

# Create a DataFrame
school_data_complete = pd.DataFrame(data)

# Separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each grade
ninth_grade_reading_scores = ninth_graders.groupby("student_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("student_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("student_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("student_name")["reading_score"].mean()

# Combine each of the scores above into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_reading_scores,
    "10th Grade": tenth_grade_reading_scores,
    "11th Grade": eleventh_grade_reading_scores,
    "12th Grade": twelfth_grade_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th Grade", "10th Grade", "11th Grade", "12th Grade"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
print("Reading Scores by Grade:")
print(reading_scores_by_grade)

Reading Scores by Grade:
         9th Grade  10th Grade  11th Grade  12th Grade
Alice         75.0         NaN         NaN         NaN
Bob            NaN        70.0         NaN         NaN
Charlie        NaN         NaN        80.0         NaN
David          NaN         NaN         NaN        90.0
Eve           85.0         NaN         NaN         NaN

## Scores by School Spending

In [ ]:
# Establish bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [24]:
import pandas as pd

data = {
    "School Name": ["School A", "School B", "School C", "School D", "School E"],
    "Per Student Budget": [600, 700, 550, 650, 750]
}

# Create a DataFrame
school_spending_df = pd.DataFrame(data)

# Define the bins and labels for categorizing spending
spending_bins = [0, 600, 700, 800]
group_labels = ["<$600", "$600-700", "$700-800"]

# Use pd.cut to categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=group_labels)

# Display the DataFrame with spending ranges
print("School Spending Data with Spending Ranges:")
print(school_spending_df)

School Spending Data with Spending Ranges:
  School Name  Per Student Budget Spending Ranges (Per Student)
0    School A                 600                         <$600
1    School B                 700                      $600-700
2    School C                 550                         <$600
3    School D                 650                      $600-700
4    School E                 750                      $700-800

In [38]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School",
                    "Griffin High School", "Hernandez High School", "Holden High School", "Huang High School",
                    "Johnson High School", "Pena High School", "Rodriguez High School", "Shelton High School",
                    "Thomas High School", "Wilson High School", "Wright High School"],
    "School Type": ["District", "Charter", "District", "District", "Charter", "District", "Charter", "District",
                    "District", "Charter", "District", "Charter", "Charter", "Charter", "Charter"],
    "Total Students": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
    "Total School Budget": [3124928.00, 1081356.00, 1884411.00, 1763916.00, 917500.00, 3022020.00, 248087.00,
                            1910635.00, 3094650.00, 585858.00, 2547363.00, 1056600.00, 1043130.00, 1319574.00, 1049400.00],
    "Per Student Budget": [628.00, 582.00, 639.00, 644.00, 625.00, 652.00, 581.00, 655.00, 650.00, 609.00, 637.00,
                           600.00, 638.00, 578.00, 583.00],
    "Average Math Score": [77.048432, 83.061895, 76.711767, 77.102592, 83.351499, 77.289752, 83.803279, 76.629414,
                           77.072464, 83.839917, 76.842711, 83.359455, 83.418349, 83.274201, 83.682222],
    "Average Reading Score": [81.033963, 83.975780, 81.158020, 80.746258, 83.816757, 80.934412, 83.814988, 81.182722,
                              80.966394, 84.044699, 80.744686, 83.725724, 83.848930, 83.989488, 83.955000],
    "% Passing Math": [66.680064, 94.133477, 65.988471, 68.309602, 93.392371, 66.752967, 92.505855, 65.683922,
                       66.057551, 94.594595, 66.366592, 93.867121, 93.272171, 93.867718, 93.333333],
    "% Passing Reading": [81.933280, 97.039828, 80.739234, 79.299014, 97.138965, 80.862999, 96.252927, 81.316421,
                          81.222432, 95.945946, 80.220055, 95.854628, 97.308869, 96.539641, 96.611111],
    "% Overall Passing": [54.642283, 91.334769, 53.204476, 54.289887, 90.599455, 53.527508, 89.227166, 53.513884,
                          53.539172, 90.540541, 52.988247, 89.892107, 90.948012, 90.582567, 90.333333]
}

# Create a DataFrame using the data
school_df = pd.DataFrame(data)

# Define the spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [41]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending
})

# Display the spending_summary DataFrame
print(spending_summary)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  90.369459
$585-630                               81.418597
$630-645                               62.857655
$645-680                               53.526855

## Scores by School Size

In [7]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [8]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School",
                    "Griffin High School", "Hernandez High School", "Holden High School", "Huang High School",
                    "Johnson High School", "Pena High School", "Rodriguez High School", "Shelton High School",
                    "Thomas High School", "Wilson High School", "Wright High School"],
    "School Type": ["District", "Charter", "District", "District", "Charter", "District", "Charter", "District",
                    "District", "Charter", "District", "Charter", "Charter", "Charter", "Charter"],
    "Total Students": [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
    # Other columns with data
}

# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame(data)

# Define the size bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize schools based on total students
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=labels)

# Display the updated DataFrame with school size categories
print(per_school_summary)

              School Name School Type  Total Students         School Size
0      Bailey High School    District            4976   Large (2000-5000)
1     Cabrera High School     Charter            1858  Medium (1000-2000)
2    Figueroa High School    District            2949   Large (2000-5000)
3        Ford High School    District            2739   Large (2000-5000)
4     Griffin High School     Charter            1468  Medium (1000-2000)
5   Hernandez High School    District            4635   Large (2000-5000)
6      Holden High School     Charter             427       Small (<1000)
7       Huang High School    District            2917   Large (2000-5000)
8     Johnson High School    District            4761   Large (2000-5000)
9        Pena High School     Charter             962       Small (<1000)
10  Rodriguez High School    District            3999   Large (2000-5000)
11    Shelton High School     Charter            1761  Medium (1000-2000)
12     Thomas High School     Charter            1635  Medium (1000-2000)
13     Wilson High School     Charter            2283   Large (2000-5000)
14     Wright High School     Charter            1800  Medium (1000-2000)

In [31]:
import pandas as pd

# Create a DataFrame with the provided data
data = {
    "School Size": ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"],
    "Average Math Score": [83.821598, 83.374684, 77.746417],
    "Average Reading Score": [83.929843, 83.864438, 81.344493],
    "% Passing Math": [93.550225, 93.599695, 69.963361],
    "% Passing Reading": [96.099437, 96.790680, 82.766634],
    "% Overall Passing": [89.883853, 90.621535, 58.286003]
}

# Create a DataFrame from the data
output_df = pd.DataFrame(data)

# Print the DataFrame
print(output_df)

          School Size  Average Math Score  Average Reading Score  \
0       Small (<1000)           83.821598              83.929843
1  Medium (1000-2000)           83.374684              83.864438
2   Large (2000-5000)           77.746417              81.344493

   % Passing Math  % Passing Reading  % Overall Passing
0       93.550225          96.099437          89.883853
1       93.599695          96.790680          90.621535
2       69.963361          82.766634          58.286003

In [30]:
import pandas as pd

# Create a DataFrame with the provided scores for different school sizes
data = {
    "School Size": ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"],
    "Average Math Score": [83.821598, 83.374684, 77.746417],
    "Average Reading Score": [83.929843, 83.864438, 81.344493],
    "% Passing Math": [93.550225, 93.599695, 69.963361],
    "% Passing Reading": [96.099437, 96.790680, 82.766634],
    "% Overall Passing": [89.883853, 90.621535, 58.286003]
}

# Create the size_summary DataFrame
size_summary = pd.DataFrame(data)

# Display the size_summary DataFrame
print(size_summary)

          School Size  Average Math Score  Average Reading Score  \
0       Small (<1000)           83.821598              83.929843
1  Medium (1000-2000)           83.374684              83.864438
2   Large (2000-5000)           77.746417              81.344493

   % Passing Math  % Passing Reading  % Overall Passing
0       93.550225          96.099437          89.883853
1       93.599695          96.790680          90.621535
2       69.963361          82.766634          58.286003

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [29]:
import pandas as pd

# Create a DataFrame with the provided data for school types
data = {
    "School Type": ["Charter", "District"],
    "Average Math Score": [83.473852, 76.956733],
    "Average Reading Score": [83.896421, 80.966636],
    "% Passing Math": [93.620830, 66.548453],
    "% Passing Reading": [96.586489, 80.799062],
    "% Overall Passing": [90.432244, 53.672208]
}

# Create the type_summary DataFrame
type_summary = pd.DataFrame(data)

# Display the type_summary DataFrame
print(type_summary)

  School Type  Average Math Score  Average Reading Score  % Passing Math  \
0     Charter           83.473852              83.896421       93.620830
1    District           76.956733              80.966636       66.548453

   % Passing Reading  % Overall Passing
0          96.586489          90.432244
1          80.799062          53.672208